* {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}
:root {
  --size-input: 10px;
}

/* div{
  border: 1px solid red;
} */

.container {
  display: flex;
  flex-direction: column;
  outline: 1px solid black;
  width: 550px;
  height: 650px;
  color: white;
  background-color: #3ea9f5;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-main {
  margin-top: -10px;
}

.header-slogan {
  width: 70%;
  margin-top: -30px;
  /* font-weight: 550; */
  text-align: center;
}

.elem-form {
  margin-bottom: 15px;
}

.input-text-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

input[type="text"],
[type="email"],
[type="password"] {
  border: 1px solid #cccccc;
  border-radius: 3px;
  height: 60px;
  width: 245px;
  padding-left: 20px;
}

.input-radio-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid white;
  margin: 10px 20px 10px 20px;
}

.radio-button {
  margin: 10px;
}

.radio-header {
  display: flex;
  flex-direction: column;
}

.radio-header > label {
  font-size: 20px;
  margin-top: 10px;
}

.radio-header > p {
  font-size: 12px;
}

.check-box-block {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.button-block {
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px 170px;
  margin: 20px 45px;
  cursor: pointer;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-decoration: solid;
  background: #28d2d0;
}